a, div, .btn {
  -webkit-transition: all 0.2s ease-in-out, width 0, height 0, top 0, left 0;
  -moz-transition: all 0.2s ease-in-out, width 0, height 0, top 0, left 0;
  -o-transition: all 0.2s ease-in-out, width 0, height 0, top 0, left 0;
  transition: all 0.2s ease-in-out, width 0, height 0, top 0, left 0; 
}

img {
  width: 100%;
  margin-bottom: 0;
}

body {
  /*-webkit-font-smoothing: antialiased;*/
  font-family: "Lato", sans-serif;
  padding-top: 70px;
  color: #555;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
}

h2 a {
  padding-top: 80px;
  padding-bottom: 80px;
  color: #555;
}

hr {
  padding: 0;
  margin: 0;
}

.brand {
  font-size: 1.5em;
}

nav li {
  font-size: 1.2em;
}

.example-project {
  padding:10px 0px;
  border-radius: 5px;
  margin-bottom: 0px;
/*  margin-left: 15px;
  margin-right: 15px;
*/}

.example-project:hover {
  background-color: #CCFFCC;
}

.personal-info {
  font-size: 19px;
}

.intro {
  margin-top: 0;
}

.btn {
  border: 0;
}

.git-link:hover {
  background-color: #aaa;
}

.section {
  margin-left: 0;
  margin-right: 0;
}